#root,
html {
  background-color: #FFFBEA;
}

#appName{
  font-size: xx-large;
}
#profileCard {
  display: flex;
  margin: auto;
  width: 85%;
  margin-bottom: 20px;
  background-color: #FFFFF7;
  box-shadow: 10px 10px 8px #888888;
}

#navBar {
  top: 0;
  right: 0;
  left: 0;
  height:max-content;
  background-color: #4878D9;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

#logo{
  height:90px;
}

#card {
  width: 20rem;
  background-color: #FFFFF7;
  margin: auto;
  margin-top: 20px;
  box-shadow: 10px 10px 8px #888888;
}

#selectButton {
  margin: auto;
  color: black;
  background-color: #D9043D;
  width: 10rem;
  border-radius: 10px;

}

#logout, #login {
  border-radius: 10px;
  background-color: #D9043D;
  width: auto;
}

#login:hover, #logout:hover {
  background-color: #FFFBEA;
}

.nav-link {
  border-radius: 10px;
  margin: 3px;
  background-color: #FFFBEA;
  width: auto;
}

.nav-link:hover {
  background-color: #D9043D;
}

#profileButton {
  border-radius: 20px;
  background-color: #4878D9;
  width: 7rem;
  font-size: x-small;
}

#profile {
  margin: 0px;
  width: 400px;
  z-index: 10;
}

#profileImg {
  /* align-items: center; */
  /* width: 4rem; */
  border-radius: 50px;
}

/* #userName {
  font-size: medium;
} */

/* #table {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  border: #4878D9;
} */

#changeButton {
  float: right;
  background-color: #4878D9;
  width: 5rem;
  border-radius: 20px;
}

#deleteButton {
  background-color: #D9043D;
  width: 5rem;
  border-radius: 20px;
}

.aboutCard {
  width: 33%;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 10px 10px 8px #888888;
}

.about {
  display: flex;
  width: 85%;
  justify-content: space-around;
  gap: 22px;
}

#name {
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #4878D9;
}

#searchForm {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 10px 10px 8px #888888;
  width: 85%;
}

.profile-test {
  display: flex;
}

#tableHead {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-content: center;
}

#table {
  min-width: none;
  margin: auto;
}
#chart{
  max-height: 600px;
  min-width: 75%;
}

#carousel{
  box-shadow: 10px 10px 8px #888888;
  width: 85%;
  margin: auto;
}

.link:hover {
  color: #D9043D;
}
