#root, html{
  background-color: #FFFBEA;
}




.chart {
  width: 50%;
}

.navBar {
  background-color: #D9043D;
  text-decoration: none;
  color: black;
  font-size:large;
  font-weight: bold;
}

#card {
  width: 20rem;
  background-color: #4878D9;
  margin: 1rem;
}

#selectButton {
  margin: auto;
  color: black;
  background-color: #D9043D;
  width: 10rem;
  border-radius: 10px;

}

#logout,
#login {
  border-radius: 10px;
  background-color: #4878D9;
  width: 5rem;
}

#profileButton {
  border-radius: 20px;
  background-color: #4878D9;
  width: 7rem;
  font-size: x-small;
}

#profile {
margin: 0px;
width: 400px;
z-index: 10;
}

#profileImg {
  /* align-items: center; */
  /* width: 4rem; */
  border-radius: 50px;
}

/* #userName {
  font-size: medium;
} */

/* #table {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  border: #4878D9;
} */

#changeButton {
  float: right;
  background-color: #4878D9;
  width: 5rem;
  border-radius: 20px;
}

#deleteButton {
  background-color: #D9043D;
  width: 5rem;
  border-radius: 20px;
}

#tableHead {
  display: flex;
  flex-direction: column;
}



#aboutCard {
  border: 1px solid #4878D9;
  margin: auto;
  width: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
}

#name {
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #D9043D;
}

#searchForm{
margin:2rem;
}

#profileTable{
  /* float: right; */
  margin: 0;
  width: 400px;
  z-index: 0;
  }
